body, html, main, nav,
section, ul, li, a,
img, svg, aside,div, p{
    border: 0;
    margin: 0;
    padding: 0;
    text-decoration: none;
}
body{
    font-size: 14px;
}
main{
    padding: 0 4%;
}
.header-top{
    background-color: #FC5849;
    width: 100%;
    height: 85px;
    display: flex;
    flex-flow: row;
    align-items: center;
    box-sizing: border-box;
    padding: 0 4%;
}
.header-logo{
    width: 10%;
}
.header-menu{
    width: 100%;
}
.header-menu>ul>li{
    display: inline-block;
    margin-left: 150px;
    font-size: large;
}
.header-alerta>ul>li{
    display: inline-block;
    margin: 0 0.3rem;
}
.header-menu>ul>li a,
.header-alerta>ul>li {
    color: rgb(0, 0, 0);
}
.caixapropaganda{
    width: 100%;
    height: 350px;
    background-color: darkgray;
    display: flex;
    flex-flow: row;
    margin-top: 5%;
}
.rodape{
    background-color: #FC5849;
    width: 100%;
    height: 85px;
    display: flex;
    box-sizing: border-box;
    padding: 0 4%;
    margin-top: 42px;
}
.Prodape{
    margin-top: 35px;
   margin-left: 36.5%;
   font-size: larger;
}
.logo{
    width: 100px;
    height: 100px;
    margin-left: -60px;
}
.img1{
width: 512px;
height: 100%;
}
.img2{
width: 512px;
height: 100%;
}
.img3{
width: 512px;
height: 100%;
}
.maisopcoes{
    box-shadow: #000000 1px 1px 2px 2px;
    background-color: #F5C185;
    width: 200px;
    height: 50px;
    margin-top: 40px;
    margin-left: 43%;
    font-size: larger;
    border-radius: 20px;
}
.Pmaisopcoes{
   padding: 10px;
   text-align: center;
   font-size: larger;
}